<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <!--laravelはデフォルトでsqliteが使用される-->
        <server name="DB_CONNECTION" value="sqlite"/>
        <!--データベースの保存先として:memory:が指定されている-->
        <!--ストレージ(SSDなど)ではなく読み書きが高速なインメモリが使用される-->
        <!--テストは実行の都度、空のデータベースにテーブルを作り必要であればそれらテーブルに初期データを投入し、-->
        <!--各テストを実行する(テストの内容次第では、さらにデータを新規作成することもありうる)という流れをとるのが一般的-->
        <!--.envファイルでPostgreSQLを使う設定だがテスト実行時はphpunit.xml内で設定した環境変数が優先される-->
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
